.main__title, .explore__title, .destination__title-text, .guides__title, .reviews__title, .stories__tittle {
  text-align: left;
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1600px;
  margin-right: 190px;
  margin-left: 190px;
}

/** header**/
.header__inner {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center baseline;
}

.header__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__menu {
  margin-left: auto;
}

.menu__item-link {
  padding-right: 34px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B8BECD;
}

.menu__item-link:hover {
  color: #202336;
  font-weight: 500;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button-login {
  margin-right: 18px;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  padding: 8px 46px 8px 46px;
  color: #FB8F1D;
  border: 1px solid #FB8F1D;
  text-decoration: none;
  border-radius: 8%;
}

.header__button-register {
  padding: 8px 36px 8px 36px;
  background-color: #FB8F1D;
  color: white;
  border: transparent;
  border-radius: 8%;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
}

/** top **/
.top {
  position: relative;
  margin-bottom: 286px;
}

.top::before {
  content: "";
  position: absolute;
  background-image: url("../scss/images/element2.svg");
  width: 26px;
  height: 26px;
  left: 80px;
  top: 290px;
}

.top::after {
  content: "";
  position: absolute;
  background-image: url("../scss/images/element3.svg");
  width: 20px;
  height: 20px;
  left: 657px;
  top: 0px;
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__title {
  margin-top: 105px;
  width: 356px;
  height: 160px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
}

.top__post-title {
  position: relative;
  margin: 74px 0 71px 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.top__post-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 48px;
  width: 32px;
  height: 2px;
  background-image: url("../images/Rectangle 29.svg");
}

.top__select-items {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top__select {
  border: 0.8px solid #AFB0B9;
  padding: 0 21px 0 21px;
  margin: 0 30px 35px 0;
  width: 220px;
  height: 52px;
  border-radius: 6px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #4A4C53;
}

.top__btn {
  padding: 4px 59px 4px 59px;
  background-color: #FB8F1D;
  color: white;
  border: transparent;
  border-radius: 8%;
  text-decoration: none;
  line-height: 50px;
  font-size: 17px;
  font-weight: 700;
  font-family: Mulish;
}

.top__img {
  margin-right: -85px;
  margin-top: 80px;
}

/** explore**/
.explore__main-container, .guides__main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore {
  margin-bottom: 292px;
}

.explore__img {
  margin-left: -49px;
}

.explore__title {
  padding-bottom: 20px;
}

.explore__paragraf {
  margin-left: auto;
  padding-bottom: 39px;
  width: 410px;
  font-family: Mulish;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

.explore__link {
  padding: 16px 37px 16px 37px;
  background-color: #FB8F1D;
  color: white;
  border: transparent;
  border-radius: 8%;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  font-family: Inter;
  margin-left: auto;
}

/**destination**/
.destination__title-text {
  margin-bottom: 56px;
}

.destinations__title {
  padding-left: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination__title-link, .stories__title-link {
  position: relative;
  padding-right: 33px;
  font-family: Inter;
  font-weight: 600;
  font-size: 17px;
  line-height: 5px;
  color: #FB8F1D;
  text-decoration: none;
}

.destination__title-link::after, .stories__title-link::after {
  content: "";
  position: absolute;
  background-image: url("../images/Vector 4.svg");
  width: 6px;
  height: 9px;
  right: 11px;
  background-position: center center;
}

.destinations__gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 49px 0 49px;
}

.destinations__gallery-place {
  position: absolute;
  bottom: -15px;
  width: 120px;
  height: 56px;
  background-color: white;
  border-color: transparent;
  border-radius: 0 6px 0 0;
  font-family: Inter;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #202336;
}

.destinations__gallery-country {
  position: absolute;
  bottom: -15px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #B8BECD;
}

/**guides**/
.guides {
  margin-top: 231px;
  margin-bottom: 248px;
}

.guides__title {
  margin-bottom: 20px;
}

/**reviews**/
.reviews {
  margin-bottom: 178px;
}

.reviews__title {
  margin: 0 0 60px 49px;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__text {
  max-width: 450px;
}

.slider__text-items {
  margin: 125px 0 0 49px;
}

.slider__img-p {
  position: relative;
  max-width: 384px;
  border-radius: 14px;
}

.slider__img {
  max-width: 384px;
  height: 491px;
  margin-right: 145px;
}

.slider__text-paragraf {
  font-family: Mulish;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 40px;
}

.slider__text-name {
  font-family: Inter;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
}

.slider__text-postname {
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.85);
  mix-blend-mode: normal;
}

.slick-prev {
  position: absolute;
  border: none;
  background-color: white;
  padding: 20px  22px 0 30px;
  bottom: 0;
  right: 40px;
  z-index: 10;
  border-radius: 15px 0 0 0;
}

.slick-next {
  position: absolute;
  border: none;
  background-color: white;
  bottom: 0;
  right: 0;
  padding: 20px 0 0;
}

/**stories**/
.stories {
  margin-bottom: 271px;
}

.stories__tittle {
  margin-bottom: 26px;
}

.stories__title-box {
  padding-left: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 37px 13px 37px;
}

.stories__gallery-items {
  width: 261px;
}

.stories__gallery-title {
  margin: 13px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}

.stories__gallery-img {
  width: 235px;
  height: 300px;
}

.stories__gallery-paragraf {
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #B8BECD;
}

.stories__gallery-link {
  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #FB8F1D;
  text-decoration: none;
}

/**footer**/
.footer {
  padding: 70px 0 20px 0;
  margin: 0;
  background-color: #F9F9FB;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__information {
  width: 391px;
  padding-bottom: 167px;
  color: #848484;
}

.footer__information-paragraf {
  padding: 26px 15px 50px 0;
  line-height: 28px;
}

.footer__navigation-list {
  color: #848484;
  line-height: 38px;
  list-style: none;
  padding-left: 0;
}

.footer__media-links {
  max-width: 1219px;
  border-top: 0.6px solid #AFB0B9;
  text-align: center;
}

.footer__media-link {
  padding-top: 30px;
  padding-right: 35px;
}
/*# sourceMappingURL=main.css.map */